treecol#count {
	text-align: right;
}

treecol.doemailColHeader {
	list-style-image: url("chrome://doemail/content/images/doemail-16-grey.png");
}

treechildren::-moz-tree-checkbox() {
	/* css for un-checked cells */
  list-style-image: url("chrome://doemail/content/images/notchecked.gif");
}

treechildren::-moz-tree-checkbox(checked){
	/* css for checked cells */
	/* list-style-image: url("chrome://global/skin/checkbox/cbox-check.gif"); */
	 list-style-image: url("chrome://doemail/content/images/check.gif");
}

window[id="massImportWindow"] {
	min-width: 640px;
	min-height: 480px;
}

window[id="pendingEmailWindow"] {
	min-width: 640px;
	min-height: 480px;
}

window[id="doemailUpdateWindow"] {
	min-width: 25em;
	min-height: 15em;
}

	.address-status-whitelistEmail {
  margin: 0 3px;
  list-style-image: url("chrome://doemail/content/images/greenlight-e.png");
}

	.address-status-whitelistDomain {
  margin: 0 3px;
  list-style-image: url("chrome://doemail/content/images/greenlight-d.png");
}

	.address-status-whitelistTo {
  margin: 0 3px;
  list-style-image: url("chrome://doemail/content/images/greenlight-l.png");
}

	.address-status-blacklistEmail {
  margin: 0 3px;
  list-style-image: url("chrome://doemail/content/images/redlight-e.png");
}

	.address-status-blacklistDomain {
  margin: 0 3px;
  list-style-image: url("chrome://doemail/content/images/redlight-d.png");
}

	.address-status-unknown {
  margin: 0 3px;
  list-style-image: url("chrome://doemail/content/images/yellowlight-question.png");
}

.currentVersion {
	color: red;
}

.headerUpdate {
	font-size: 1.5em;
	font-weight: bold;
}

.newVersion {
	color: green;
}

/* The following two definitions are for the search text box in the pending email tab */ 
#doemailSearchInput {
  -moz-binding: url("chrome://doemail/content/search.xml#glodaSearch");
  -moz-appearance: none;
  min-height: 22px;
  -moz-padding-end: 2px;
  -moz-padding-start: 2px;
}

#doemailSearchInput[searchCriteria="true"] {
  color: rgb(128, 128, 128);
}

.quick-search-button {
  -moz-binding: url("chrome://doemail/content/search.xml#searchBarDropMarker");
  cursor: default;
  -moz-user-focus: none;
}

.quick-search-clearbutton{
  cursor: default;
  -moz-user-focus: none;
}

