@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul"); /* set default namespace to XUL */
@namespace html url("http://www.w3.org/1999/xhtml"); /* namespace for HTML elements */
@namespace xbl url("http://www.mozilla.org/xbl"); /* namespace for XBL elements */

.textbox-input-box {
	/* background-color: green; */
  -moz-binding: url("chrome://doemail/content/textbox.xml#input-box-override");
}
