/* 	---------------------------------------------------
		Regular Size Toolbar Buttons
		--------------------------------------------------- */
#doemailToolbarButton {
	list-style-image: url("chrome://doemail/content/images/doemail-24.png");
}

toolbar[iconsize="small"] #doemailToolbarButton {
	list-style-image: url("chrome://doemail/content/images/doemail-16.png");
}

/* 	---------------------------------------------------
		OSX Size Toolbar Buttons
		--------------------------------------------------- */
#doemailToolbarButtonOSX {
	list-style-image: url("chrome://doemail/content/images/doemail-32.png");
}

toolbar[iconsize="small"] #doemailToolbarButtonOSX {
	list-style-image: url("chrome://doemail/content/images/doemail-24.png");
}
